{{!< default}}
{{!--
<div class="">
	<div class=""><img src="/images/logo.svg" width="160">
		<h1>Welcome</h1>
		<p>This is your new <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a> website.</p>
		<p>
			It includes the latest versions of
			<a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		</p>
		<p>Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.</p>
		<hr>
		<p>We have created a default Admin user for you with the email <strong>user@keystonejs.com</strong> and the password <strong>admin</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		<hr>
		<p>
			Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			<a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
		</p>
	</div>
</div>
--}}

<div class="">

  <div class="bg fixed"></div>

  <div class="bg-overlay fixed"></div>

  <!-- BANNER TEXT -->
  <div class="front-page-content content bind-width">
    <div class="tagline">
      <div class="main">Our mission is to build the<br>
        <em class="bold">WORLD'S BEST TOILET SEAT</em>
      </div>
      <div class="sub">
        <div class="black-highlight">We spend so much time sitting on them, so lets make it enjoyable</div>
      </div>
    </div>
  </div>

  <!-- HEADER -->
  <div class="header fixed">
    <div class="header-content bind-width relative">

      <img class="inline-block logo mb2" img src="/images/bb_logo.png"/>

      <div class="subscribe-wrapper absolute">

        <div class="mt0 inline-block align-middle">
          <a href="" target="_blank"><div class="mr2 social-icon inline-block circle white"> <i class="fa fa-instagram"></i></div></a>
          <a href="" target="_blank"><div class="mr2 social-icon inline-block circle white"><i class="fa fa-facebook"></i></div></a>
          <a href="" target="_blank"><div class="mr2 social-icon inline-block circle white"><i class="fa fa-envelope"></i></div></a>
        </div>

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup" class="inline-block align-top">
          <form action="http://thetoiletseatproject.us11.list-manage.com/subscribe/post?u=09cd7e50c69ae88f190c19ae2&amp;id=7485e5b4cb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="relative">
                
              <div class="mc-field-group subscribe-input-wrapper">
                <input autocomplete="off" placeholder="email address" type="email" value="" name="EMAIL" class="subscribe-input required email" id="mce-EMAIL">
              </div>
              <div class="clear subscribe-submit-wrapper absolute subscribe-submit-wrapper">
                <input type="submit" value="&#xf054;" name="subscribe" id="mc-embedded-subscribe" class="subscribe-submit">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_09cd7e50c69ae88f190c19ae2_7485e5b4cb" tabindex="-1" value="">
              </div>
            </div>
          </form>
        </div>

        <!--End mc_embed_signup--> 
      </div>
    </div>

  </div>
</div>


<!-- if galleries -->
<div class="blog-section relative">
  <div class="blog-header absolute"></div>
  {{#if galleries}}
    {{#each galleries}}
    <div class="blog-wrapper mt4 bind-width">
      <div class="blog-meta inline-block">
        <div class="blog-date">{{ date format="MM.DD" }} </div> <!--{{ publishedDate }}</div>-->
      </div>
      <div class="blog-post inline-block">
        <div class="blog-title inline-block">{{ name }}</div>
        <div class="blog-body">
          <div class="blog-content">

            {{#if heroImage}}
            <img src="{{cloudinaryUrl heroImage }}" class="blog-main-image">
            {{/if}}

            {{#if content}}
            <div class="post-content mt2">
              {{{content}}}
            </div>
            {{/if}}
          </div>

          <div class="blog-footer inline-block"> - the bum bum team</div>
        </div>
      </div>
    </div>
    {{/each}}
  {{else}}
  <!-- else -->
  <h3 class="text-muted">There are no image galleries yet.</h3>
  {{/if}}
</div>


{{!--
<div class="col-sm-8 col-md-8">
  <div class="row">
    {{#each images}}
    <div class="col-xs-4 col-sm-4 col-md-3 gallery-image">
      <img src="{{cloudinaryUrl width='300' height='300'}}" class="img-rounded">
    </div>
    {{/each}}
  </div>
</div>
--}}

